
{% extends "header.html" %}

{% block content %}

  <form method="POST">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="tickerSymbol">Ticker Symbol</label>
        <input name="tickerSymbol" type="text" class="form-control" id="tickerSymbol" placeholder="Eg: AAPL or TSLA" required>
      </div>
      <div class="form-group col-md-6">
        <label for="allotment">Allotment</label>
        <input name="allotment" type="number" class="form-control" id="allotment" placeholder="Number of Shares" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="finalSharePrice">Final Share Price</label>
        <input name="finalPrice" type="number" class="form-control" id="finalSharePrice" placeholder="USD" required>
      </div>
      <div class="form-group col-md-6">
        <label for="initialSharePrice">Initial Share Price</label>
        <input name="initialPrice" type="number" class="form-control" id="initialSharePrice" placeholder="USD" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="sellCommission">Sell Commission</label>
        <input name="sellCommission" type="number" class="form-control" id="sellCommission" placeholder="USD" required>
      </div>
      <div class="form-group col-md-4">
        <label for="buyCommission">Buy Commission</label>
        <input name="buyCommission" type="number" class="form-control" id="buyCommission" placeholder="USD" required>
      </div>
      <div class="form-group col-md-4">
        <label for="tax">Capital Gain Tax Rate (%)</label>
        <input name="capitalGainTaxRate" type="number" class="form-control" id="tax" placeholder="Percentage (%)" required>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Calculate Profit</button>
    <button type="reset" class="ml-3 btn btn-danger">Reset</button>
  </form>

{% endblock %}
