<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">Stock Profit Calculator</a>
    </div>
  </nav>
  <br/>
  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <h3>SUBMITTED VALUES:</h3>
      </div>

      <div class="col-md-8">
        <table class="table table-sm" style="max-width : 60%; margin :auto; background-color: #f7f7f7">

          <tbody>
            <tr>
              <td>Ticker Symbol</td>
              <td>{{data.tickerSymbol}}</td>
            </tr>
            <tr>
              <td>Allotment</td>
              <td>{{data.allotment}}</td>
            </tr>
            <tr>
              <td>Final Price</td>
              <td>{{data.finalPrice}}</td>
            </tr>
            <tr>
              <td>Sell Commission</td>
              <td>{{data.sellCommission}}</td>
            </tr>
            <tr>
              <td>Initial Price</td>
              <td>{{data.initialPrice}}</td>
            </tr>
            <tr>
              <td>Buy Commission</td>
              <td>{{data.buyCommission}}</td>
            </tr>
            <tr>
              <td>Capital Gain Tax Rate</td>
              <td>{{data.capitalGainTaxRate}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <br>
    <br>


    <div class="row">
      <div class="col-md-4">
        <h3>PROFIT REPORT:</h3>
      </div>

      <div class="col-md-8">
        <table class="table table-sm" style="max-width : 90%; margin :auto; background-color: #f7f7f7">

          <tbody>
            <tr>
              <td>Proceeds</td>
              <td>${{'%0.2f'| format(data.proceeds|float)}}</td>
            </tr>
            <tr>
              <td>Cost</td>
              <td>${{'%0.2f'| format(data.cost|float)}}</td>
            </tr>
            <tr>
              <td>Cost details</td>
              <td>
                <div class="row">
                  <div class="col-md-5">
                    Total Purchase Price <br>
                    Buy Commission <br>
                    Sell Commission <br>
                    Tax on Capital Gain <br>
                  </div>
                  <div class="col-md-1 text-center">
                    = <br>
                    = <br>
                    = <br>
                    = <br>
                  </div>
                  <div class="col-md-6">
                    {{data.allotment }} x ${{data.initialPrice}} = {{'%0.2f'| format(data.purchasePrice|float)}} <br>
                    {{'%0.2f'| format(data.buyCommission|float)}} <br>
                    {{'%0.2f'| format(data.sellCommission|float)}} <br>
                    {{data.capitalGainTaxRate}}% of {{'%0.2f'| format(data.capitalGain|float)}} = {{'%0.2f'| format(data.tax|float)}}
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Net Profit</td>
              <td>${{'%0.2f'| format(data.netProfit|float)}}</td>
            </tr>
            <tr>
              <td>Return on Investment</td>
              <td>{{'%0.2f'| format(data.roi|float)}}%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <br>
    <br>
    <div class="alert alert-primary" role="alert">
      To break even, you should have a final share price of ${{'%0.2f'| format(data.totalExpenditure/data.allotment|float)}}
    </div>

    <br>
    <a href="/" class="btn btn-primary">Back</a>


  </div>
</body>
</html>
