{% extends "header.html" %}

{% block content %}

<div class="card" style="width: 20rem; margin:auto">
  <div class="card-body">
    <h5 class="card-title">Output</h5>
    <h6 class="card-text">{{data.time}}</h6>
    <h6 class="card-text">{{data.name }} ({{data.symbol}}) <br>
      {{data.price}}  {{data.change}} ({{data.changePercent}})
    </h6>
    <br>

    <form method="POST">
      <div class="form-group" style="max-width: 40%; margin: auto">
        <label for="stockSymbol">Search Again</label>
        <input type="text" name="stockSymbol" class="form-control" id="stockSymbol" placeholder="Stock Symbol" required>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>

    <!-- <a href="/stocks" class="btn btn-primary">Search Again</a> -->

  </div>
</div>

{% endblock %}
